{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Fotbalisté{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
{% block header %}
    {% include 'page/header.html' %}
{% endblock %}
<main>
    <div class="container-fluid">
        {% block content %} {% endblock %}
    </div>
</main>
{% block footer %}
    {% include 'page/footer.html' %}
{% endblock %}
</body>
</html>