{% extends "base.html" %}
{% block content %}
    <div class="row mb-3 bg-info p-3">
        <div class="col-sm-12">
            <h2 class="text-center">Seznam fotbalistů</h2>
        </div>
    </div>
    <div class="row">
        {% for fotbalista in fotbaliste %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card my-3">
                    <img class="card-img-top" style="max-width: 460px; height: 400px"
                         src="{{ fotbalista.poster.url }}"
                         alt="{{ fotbalista.name }} {{ fotbalista.surname }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ fotbalista.name }} {{ fotbalista.surname }}</h4>
                        <a href="{% url 'fotbalista_detail' fotbalista.pk %}" class="btn btn-primary">Podrobnosti</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12 text-center py-3">
            <strong>Celkový počet fotbalistů:</strong> {{ num_fotbaliste }}
        </div>
    </div>
{% endblock %}
